/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    
}
body{
    margin: 0px;
}
.text-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 1rem;
}
.text-title-color{
    color: #FF42A5;
}
.primary-btn{
    padding: 20px 40px;
    margin-top: 2.4rem;
    margin-right: 1.2rem;
    border-radius: 48px;
    background-color: #FF42A5; 
    border: none; 
    color: #FFFFFF;
    font-size: 1rem;
}
.secondary-btn{
    padding: 20px 40px;
    margin-top: 2.4rem;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: none; 
    color: #FFFFFF;
    font-size: 1rem;
}
/* nav style */
.header-section{
    
    background: #FFF;
    
}
.nav-section{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto 15rem;
    
}

.gamer-title{
    display: flex;
    justify-content: left;
    align-items: center;
}
.gamer-title img{
    width: 5.3rem;
    height: 2.5rem;
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 10px;
    padding: 0px;
}
.nav-menu ul li{
    
    margin-right: 2rem;
    list-style: none;
}
.nested-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.8rem;
    padding-right: 0px;
}

/* banner section */
.top-banner-container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    
}

.banner-info{
    margin-left: 15rem;
    
}
.banner-info-title{
    font-weight: 600;
    font-size: 3rem;
    color: #0B0223;
    margin: 0px;
}
.banner-goat{
    font-size: 5rem;
    font-weight: 800;
    margin: 0px;
}
.banner-quick-list li{
    list-style: none;
    padding-top: 1rem;
}
.banner-img {
    
    margin-right: 15rem;
}
/* card section */
.games-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.fun{
    color: #8758F1;
  
}
.games-paragraph{
    text-align: center;
    margin-bottom: 80px;
}
.online-games{
    margin: auto 15rem;
}
.card{
    width: 20rem;
    /* height: 25rem; */
    position: relative;
    /* border: 2px solid black; */
}
.card:hover{
    .play-btn{
        visibility: visible;
    }
    .watch-games{
        visibility: visible;
    }
    .images{
        /* visibility: visible; */
        border-radius: 15px;
        box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0), 0 0px 200px 0 rgb(0, 0, 10);
    }


}
.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-btn
{
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 45%;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 40%;
    border: none;
}
.watch-games{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 40%;
    border: none;
    color: #FF42A5 ;
}
.play-btn i{
    
    /* background-color: wheat; */
    color: black;
    
    /* padding: 20px; */
    
}
.card img{
    width: 20rem;
    position: relative;
    
}
/* play games title */
.play-instant{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: auto 15rem;
}
.play-instant-info{
    text-align: right;
    margin-right: 15rem;
}
.play-games-title{
    font-size: 3rem;
    font-weight: 700;
    /* text-align: right; */
}
.feature-img{
    height: 90%;
    margin-left: 70px;
}
.ten-years-badge{
    border-radius: 8px;
    
    color: #FFF;
    width: 342px;
    padding: 4px;
    text-align: center;
    position: relative;
    bottom: 200px;
    right: 100px;
}















/* responsive for mobile device */
@media screen and (max-width:576px) {
    .navbar-container,
    .nav-menu ul,
    .card-container,
    .play-instant
    {
        flex-direction: column;
    }
    .nav-menu ul li{
        margin: 1.2rem 0;
    }
    .navbar-container{
        margin: 0px;

    }
    .nested-menu{
        padding: 0px;
    }
    .nested-menu li{
        padding: 10px 20px;
        margin-right: 10px;
    }

    /* banner section */
    
    .top-banner-container{ 
        /* margin: 0px;
        padding: 30px; */
        flex-direction: column-reverse;
        background-image: none !important;
        
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        margin-right: 0px;
    }
    .banner-img {
        padding: 30px;
        margin-right: 0px;
    }
    .banner-info{
        margin: 0px;
        background-image: url(../images/Group\ 14.png);
        background-repeat: no-repeat;
        background-size: contain;  
    }
    .banner-des{
       padding: 10px;
       text-align: justify;
    }
    .online-games,
    .play-instant{
        margin: 0px;
    }
    .play-instant-info{
        margin: 0px;
        text-align: center;
        margin-bottom: 50px;
        
    }
    
    .feature-img img{
        width: 80%;
        height: 60%;
        margin-left: 50px;
    }
    .ten-years-badge img{
        width: 30%;
        padding: 30px;
        margin-left: 100px;
    }
    /* .feature-img{
        height: 90%;
        margin-left: 70px;
    } */
    .ten-years-badge{
        border-radius: 8px;
        
        color: #FFF;
        width: 342px;
        padding: 4px;
        text-align: center;
        position: relative;
        bottom: 100px;
        right: 180px;
    }
}